//Gallery

#gallery div  {

  float: left;

  background-repeat: no-repeat;
  background-size: cover;
  width: 275px;
  height: 205px;

  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;

  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;

  border-radius: 10px;
}
#gallery div:before{

  display:none;

}
#gallery div:hover {
  z-index:2;
  position:relative;
  opacity: 0.9; -webkit-filter: brightness(150%);
}
#gallery div:hover::before{
  font-family: $fontFamily;
  font-weight: bolder;
  font-size: 0.9em;
  text-shadow: 3px 4px 5px #000;
  width:200px;
  display:block;
  text-align: center;
  border:2px solid #B5B5B5;
  opacity:0.8;

  margin-top: 175px;
  margin-left: 40px;

  border-radius: 20px 20px 20px 20px;
  -mox-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -border: 0px solid #000000;
}

#image1{background-image: url(../img/travel.jpg);}
#image2{background-image: url(../img/me.jpg);}