#content {
  width: 60%;
  margin-left: 10px; }
  #content p, #content div {
    font-size: 2em; }
    #content p a, #content div a {
      font-weight: bold; }
  #content pre {
    font-size: 3em; }

html,
body,
ul,
ol {
  margin: 0;
  padding: 0; }

body {
  font: 100% Helvetica, sans-serif;
  background-color: #efefef;
  font-family: "karla", sans-serif;
  color: #DDE0E3;
  background: url(../img/desktop.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-width: 400px;
  max-width: 1080px; }

.container {
  padding: 20px 10px; }

#header {
  width: 100%; }

#sidebar p {
  padding: 10px 0 0;
  float: left;
  font-family: 'Sansita', sans-serif;
  font-size: 2em;
  z-index: 5; }

#gallery div {
  float: left;
  background-repeat: no-repeat;
  background-size: cover;
  width: 275px;
  height: 205px;
  margin-bottom: 10px;
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  -webkit-box-shadow: 0 10px 6px -6px #777;
  -moz-box-shadow: 0 10px 6px -6px #777;
  box-shadow: 0 10px 6px -6px #777;
  border-radius: 10px; }

#gallery div:before {
  display: none; }

#gallery div:hover {
  z-index: 2;
  position: relative;
  opacity: 0.9;
  -webkit-filter: brightness(150%); }

#gallery div:hover::before {
  font-family: "karla", sans-serif;
  font-weight: bolder;
  font-size: 0.9em;
  text-shadow: 3px 4px 5px #000;
  width: 200px;
  display: block;
  text-align: center;
  border: 2px solid #B5B5B5;
  opacity: 0.8;
  margin-top: 175px;
  margin-left: 40px;
  border-radius: 20px 20px 20px 20px;
  -mox-border-radius: 20px 20px 20px 20px;
  -webkit-border-radius: 20px 20px 20px 20px;
  -border: 0px solid #000000; }

#image1 {
  background-image: url(../img/travel.jpg); }

#image2 {
  background-image: url(../img/me.jpg); }

.box {
  margin-left: 10px;
  width: 300px;
  background-color: rosybrown;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px; }

.message, .success, .error, .warning {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333; }

.success {
  border-color: green; }

.error {
  border-color: red; }

.warning {
  border-color: yellow; }

.container {
  padding: 20px 10px;
  width: 100%; }

/* footer */
#footer {
  position: fixed;
  width: 98%;
  padding-top: 525px; }

#footer p {
  font-family: "karla", sans-serif;
  font-size: 0.7em;
  color: #DDE0E3;
  font-weight: bold;
  text-align: right; }

@media screen and (max-width: 480px) {
  .logo {
    margin-top: 30px; }

  .navigation {
    margin: 0 0 15px 0; }

  .navigation li {
    width: auto;
    margin-bottom: 10px;
    margin-right: 3%; }

  .navigation li a {
    border-right: none;
    padding: 0;
    display: block; }

  .navigation li a em {
    display: none; } }
@media screen and (min-width: 320px) {
  #content {
    float: left;
    width: 60%; }

  #sidebar {
    float: right;
    width: 35%; } }
@media screen and (min-width: 320px) and (max-width: 1024px) {
  #content {
    width: 95%; }

  #sidebar {
    width: 95%; } }

/*# sourceMappingURL=style.css.map */
