// SCSS Style

//oliver Rodriguez
//assignment 1 - Sass

//Variables - for colours or widths, etc.

$fontFamily: 'karla', sans-serif;
$fontColor: #DDE0E3;
$widthAll: 100%;
$maginLeft: 10px;

//Nesting - nest some rules inside another to create contextual selectors

#content {
  width: 60%;
  margin-left: $maginLeft;

  p, div {
    font-size: 2em;
    a { font-weight: bold; }
  }

  pre { font-size: 3em; }
}


//Partial/Import - split your file into several files to produce one, single CSS file

@import 'reset';

body {
  font: 100% Helvetica, sans-serif;
  background-color: #efefef;

    font-family: $fontFamily;
    color: $fontColor;

    background: url(../img/desktop.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 400px;
    max-width: 1080px;
  }

.container {
  padding: 20px 10px;
}

#header {
  width: $widthAll;
}


#sidebar p {
  padding: 10px 0 0;
  float: left;

  font-family: 'Sansita', sans-serif;
  font-size: 2em;
  //
  //border-style: solid;
  //border-color: #ff0000 #0000ff;

  z-index: 5;
}

@import 'gallery';

//Mixin - create a mixin and use it more than once

@mixin border-radius($radius) {
  background-color: rosybrown;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

.box {

  margin-left: $maginLeft;
  width: 300px;
  @include border-radius(10px);

}

//Inheritance - refer back to another rule

.message {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}

.success {
  @extend .message;
  border-color: green;
}

.error {
  @extend .message;
  border-color: red;
}

.warning {
  @extend .message;
  border-color: yellow;
}

// Operators - use the math operators to set the width or margin, etc

.container {
  padding: 20px 10px;
  width: $widthAll;
}


/* footer */
#footer {
  position: fixed;
  width: 98%;
  padding-top: 525px;

  //border-style: solid;
  //border-color: #ff0000 #0000ff;
}

#footer p {
  font-family: $fontFamily;
  font-size: 0.7em;
  color: $fontColor;
  font-weight: bold;
  text-align: right;
}



//Assignment No. 2 Media Query

@media screen and (max-width: 480px) {
  .logo {
    margin-top: 30px;
  }

  .navigation {
    margin: 0 0 15px 0;
  }
  .navigation li {
    width: auto;
    margin-bottom: 10px;
    margin-right: 3%;
  }
  .navigation li a {
    border-right: none;
    padding: 0;
    display: block;
  }
  .navigation li a em {
    display: none;
  }

}

@media screen and (min-width : 320px) {
  #content{float:left;width:60%;}
  #sidebar{float:right;width:35%}
}

@media screen and (min-width : 320px) and (max-width : 1024px) {
  #content{width:95%;}
  #sidebar{width:95%;}
}




