// SCSS Style

//oliver Rodriguez
//assignment 1 - Sass

//Variables - for colours or widths, etc.

$fontFamily: 'karla', sans-serif;
$fontColor: #DDE0E3;
$widthAll: 100%;
$maginLeft: 10px;

//Nesting - nest some rules inside another to create contextual selectors

#main {
  width: $widthAll;
  margin-left: $maginLeft;

  p, div {
    font-size: 2em;
    a { font-weight: bold; }
  }

  pre { font-size: 3em; }
}


//Partial/Import - split your file into several files to produce one, single CSS file

@import 'reset';

body {
  font: 100% Helvetica, sans-serif;
  background-color: #efefef;

    font-family: $fontFamily;
    color: $fontColor;

    background: url(../img/desktop.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-width: 400px;
    max-width: 1080px;
  }

@import 'gallery';

//Mixin - create a mixin and use it more than once

@mixin border-radius($radius) {
  background-color: rosybrown;
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

.box {

  margin-left: $maginLeft;
  width: 300px;
  @include border-radius(10px);

}

//Inheritance - refer back to another rule

.message {
  border: 1px solid #ccc;
  padding: 10px;
  color: #333;
}

.success {
  @extend .message;
  border-color: green;
}

.error {
  @extend .message;
  border-color: red;
}

.warning {
  @extend .message;
  border-color: yellow;
}

// Operators - use the math operators to set the width or margin, etc

.container {
  padding: 20px 10px;
  width: 980px;
}


article[role="main"] {
  float: left;
  width: 400px / 960px * 100%;
}

aside[role="complementary"] {
  float: right;
  width: 100px / 960px * 100%;
}

//Sidebar

.sidebar {
  width: 350px;
  padding: 10px 0 0;
  float: right;

  font-family: 'Sansita', sans-serif;
}

/* footer */
#footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: $widthAll ;
}

#footer p {
  font-family: $fontFamily;
  font-size: 0.7em;
  color: $fontColor;
  font-weight: bold;
  text-align: right;
  padding: 10px;
  margin: 0px;
}
